@import url(style.css);

.grid-lineas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.item:nth-child(14){
  background-color: brown;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
}

.item:nth-child(5){
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;

}