@import url(style.css);


.contenedor{
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr ;
  grid-template-areas: 
  'header header'
  'sidebar content';
}

.header{
  grid-area: header;
  background-color: rgb(43, 43, 43);
}

.sidebar{
  grid-area: sidebar;
  background-color: rgb(85, 85, 85);
}

.content{
  grid-area: content;
  background-color: rgb(13, 12, 14);
}