@import url(style.css);

.grid-denso{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-auto-flow: row;
  grid-auto-flow: row dense;
  grid-auto-flow: column;
}

/* .item:nth-child(9){
  background-color: brown;
  color: white;
  grid-row: span 3;
  grid-column: span 3;
} */
.item:nth-child(11){
  background-color: rgb(250, 185, 185);
  grid-column: 3/4;
  grid-row: 1/3;
}