@import url(style.css);

.grid-implicita{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 200px);
  grid-auto-flow: column;
  grid-auto-columns: 400px;
}